<h2><%= t('sigma.reports.points.title') %></h2>
<%= render partial: '/reports/basic_promotions_form', locals: { :form_path => report_points_path } %>
<%= link_to t('sigma.buttons.back'), new_point_path %>
