<h2>Sobre a Sigma</h2>
<p>
A empresa Sigma trabalha com relacionamento do cliente e a empresa,
tornando essa relação cada vez mais próxima e eficaz.
</p>
<p>
Estudos comprovam que as pessoas estão cada vez menos fiéis às marcas, o que acaba sendo um grande problema,
 já que estudos comprovam que é mais caro conquistar um novo cliente do que manter o que já existe.
</p>
<p>
O cartão fidelidade é um dos meios de estreitar essa relação, e mudar esse cenário, porém ele se tornou muito
 falho com as constantes perdas, danos no cartão e até mesmo os prazos da validade que por diversas vezes não são notados pelas pessoas.
Com todos esses problemas, o cliente não se sente confiante para terminar uma determinada campanha, e  nem o dono do estabelecimento de que realmente conquistou o mesmo.
</p>
<p>
Com o avanço rápido da internet, as empresas passaram a ganhar maior praticidade e agilidade, e vimos nesse
 mercado a oportunidade de unir a o antigo Cartão Fidelidade e a web, podendo assim ter um maior controle, tanto para quem compra e quanto para quem vende além de proporcionar maior comodidade para ambos.
</p>
