<h2>Nossos serviços</h2>
<p>
O serviço  que nossa empresa oferece permite a criação de campanhas e promoções,
com base em relatórios gerados pelo mesmo. Como exemplo, podemos ter
o relatório (em gráfico) da quantidade de produtos trocados em um determinado período.
</p>

<p>
O cliente sempre saberá quando estiver participando de uma promoção, e sempre saberá o que
 ganhará por isso. Dessa forma, o incentivo ao cliente será permanente.
 Nosso papel é certificar que o cliente receberá o que lhe foi prometido.
</p>
<p>
Para garantir isso, não permitiremos a edição de promoções ou cancelamentos enquanto os clientes não receberem os produtos/serviços prometidos. Além disso, o cliente poderá compartilhar as promoções que participa.
</p>
