<div class="container form-signin">
<h2><%= t('devise.sign_in') %></h2>
<%= image_tag('/assets/logo_mini.jpg', :class => 'user-session-logo') %>

<%= render :partial => 'login_form' %>
<%= render "devise/shared/links" %>
</div>
