<h2>Contate-nos</h2>
<p class="alert alert-info">
  Para cadastrar sua empresa, é necessário entrar em contato com a nossa equipe através
  do formulário abaixo.
</p>
<form action="/contact" method="post" accept-charset="utf-8" class="form-horizontal" style="width: 450px;float: left;">
  <div class="control-group">
    <label class="control-label" for="company-name">Nome:</label>
    <div class="controls">
      <input type="text" name="company-name" id="company-name" value="" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="company-doc">CNPJ:</label>
    <div class="controls">
      <input type="text" name="company-doc" id="company-doc" value="" />
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="company-name">E-mail:</label>
    <div class="controls">
      <input type="email" name="company-email" id="company-email" value="" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="company-name">Mensagem:</label>
    <div class="controls">
      <textarea name="observations" id= rows="8" cols="40"></textarea>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="submit" name="send" id="send" value="Enviar" />
    </div>
  </div>
</form>
<div style="float: right;">
  <iframe width="450" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=instituto+federal&amp;ie=UTF8&amp;hq=instituto+federal&amp;hnear=Sao+Paulo+-+S%C3%A3o+Paulo&amp;ll=-23.525274,-46.621842&amp;spn=0.005706,0.010568&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=9695777324153228107&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=instituto+federal&amp;ie=UTF8&amp;hq=instituto+federal&amp;hnear=Sao+Paulo+-+S%C3%A3o+Paulo&amp;ll=-23.525274,-46.621842&amp;spn=0.005706,0.010568&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=9695777324153228107" style="color:#0000FF;text-align:left">Veja o mapa completo</a></small>
  <p>
  Endereço: Rua Pedro Vicente, 250 - São Paulo, SP
  </p>
</div>
