@import 'bootstrap';

.centralized {
  width: 80%;
  margin: 0 auto;
}
.row-fluid {
  margin: 0 auto;
  padding: 10px;
}

ul#menu-bar {
  height: 30px;
  margin: 40px;
  float: right;
  li {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
  }
}

#logo {
  background-image: url(/assets/logo_big.jpg);
  width: 235px;
  height: 160px;
  float: left;
  margin: 5px;
}

#content-box {
  clear: both;
  margin-top: 200px;
}

.table-report {
  text-align: center;
  th, td {
    font-size: 1.4em;
    padding: 10px;
  }
  margin: 0 auto;
}
