@import 'bootstrap';
$dutch-teal: #1693A5;
$ocean-green: #127886;

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

body {
  background-image: url('/assets/retina_wood.png');
}

a {
  color: $dutch-teal;
}

.points-bar {
  background-color: $dutch-teal !important;
}

.top-bar {
  width: 65%;
  height: 25px;
  float: right;
  margin-right: 40px;
  padding: 5px;
  text-align: right;
  color: $dutch-teal;
}
.centralized {
  margin: 0 20px;
}

#content {
  position: relative;
  width: 980px;
  margin: 10px auto;
}

.row-fluid {
  margin: 0 auto;
  padding: 10px;
}

h1, h2, h3, h4, h5 {
  color: $ocean-green;
  text-shadow: 1px 1px 0px #ccc;
}

ul#menu-bar {
  min-height: 50px;
  margin: 10px 40px;
  float: left;
  line-height: 5px;

  a {
   color: $ocean-green;
  }

  a:hover {
   color: #666;
   text-decoration: none;
  }

  li {
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 1.20em;
    padding: 10px;
    @include box-shadow(3px 3px 3px 3px #eee);
  }
}

#logo {
  width: 162px;
  height: 110px;
  margin: 15px 40px;
  float: left;
  img {
    margin: 0 auto;
  }
}

#content-box {
  clear: both;
  margin: 0 40px;
  margin-top: 150px;
}

.table-report {
  text-align: center;
  th, td {
    font-size: 1.4em;
    padding: 10px;
  }
  margin: 0 auto;
}
.form-signin {
  max-width: 300px;
}
.form-signin, .small-box {
  margin: 0 auto 20px;
}
#content, .form-signin, .small-box {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
}

.form-signin, .small-box {
  margin: 0 auto;
  padding: 19px 29px 29px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin form .form-signin-heading form,
.form-signin form .checkbox {
  margin-bottom: 10px;
}
.form-signin form input[type="text"],
.form-signin form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin.container {
  h2.signin {
    width: 120px;
    float: left;
  }
  #error_explanation {
    width: 280px;
  }
}

.devise-sessions-new,
.devise-sessions-create,
.devise-registrations-new,
.devise-registrations-create,
.devise-passwords-new,
.devise-passwords-create {
  .small-box {
    background: white;
  }
  .top-bar {
    display: none;
  }
  #content {
    background: none;
    border: none;
  }
  #menu-bar, #logo, #footer {
    display: none;
  }
  .user-session-logo {
    float: right;
    display: block;
  }
  .login-box label {
    clear: both;
  }
  #content-box {
    margin-top: 100px;
  }
}
.remember-me-box {
  label {
    width: 250px;
  }
  input {
    float: left;
    margin-right: 10px;
  }
}

#carousel-sigma {
  width: 100%;
}

.footer {
  bottom: 0;
  text-align: center;
  clear: both;
}

/* Responsive styles */
@media (max-width: 940px) {
  #content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #content, #logo {
    width: 100%;
  }
  #logo {
    text-align: center;
    margin: 15px auto;
  }
  .top-bar {
    width: 100%;
    height: auto;
    clear: both;
  }
  .form-signin {
    width: 100%;
    max-width: 100%;
  }
  .container-fluid {
    padding: 0 5px;
  }

  ul#menu-bar {
    margin: 20px 5px;
    width: 100%;
  }
  #content-box {
    margin:0 20px;
  }
}

@media (max-width: 420px) {
  ul#menu-bar {
    margin: 15px auto;
    li {
      margin: 5px;
      width: 95%;
      padding: 15px 0;
      clear: both;
    }
  }
}
