@import 'bootstrap';
$dutch-teal: #1693A5;
$ocean-green: #127886;

body {
  background-image: url('/assets/grey.png');
}

a {
  color: $dutch-teal;
}

.points-bar {
  background-color: $dutch-teal !important;
}

.top-bar {
  background-color: $ocean-green;
  color: #fff;
  a {
    color: #fff;
  }
}

.centralized {
  width: 80%;
  margin: 0 auto;
}
.row-fluid {
  margin: 0 auto;
  padding: 10px;
}

ul#menu-bar {
  height: 50px;
  margin: 40px;
  float: right;
  background-image: url('/assets/grey.png');
  line-height: 5px;
  a {
   color: $ocean-green;
  }
  a:hover {
   color: #666;
   text-decoration: none;
  }
  li {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
  }
  border-radius: 10px;
}

#logo {
  background-image: url(/assets/logo.jpg);
  width: 162px;
  height: 110px;
  margin: 45px 5px;
  background-repeat: no-repeat;
  float: left;
}

#content-box {
  clear: both;
  margin-top: 200px;
}

.table-report {
  text-align: center;
  th, td {
    font-size: 1.4em;
    padding: 10px;
  }
  margin: 0 auto;
}
.form-signin {
  max-width: 300px;
}
.form-signin, .small-box {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin form .form-signin-heading form,
.form-signin form .checkbox {
  margin-bottom: 10px;
}
.form-signin form input[type="text"],
.form-signin form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin.container {
  h2 {
    width: 120px;
    float: left;
  }
}

.devise-sessions-new {
  background-image: url('/assets/people.jpg');
  background-position: top right;
  .small-box {
    background: none;
  }
  .top-bar {
    display: none;
  }

  #logo {
    display: none;
  }
  .user-session-logo {
    float: right;
    display: block;
  }
  .login-box label {
    clear: both;
  }
  #content-box {
    margin-top: 100px;
  }
}
.remember-me-box {
  label {
    width: 250px;
  }
  input {
    float: left;
    margin-right: 10px;
  }
}
