@import 'bootstrap';

.centralized {
  width: 80%;
  margin: 0 auto;
}
.row-fluid {
  margin: 0 auto;
  padding: 10px;
}

#menu-bar {
  width: 500px;
  height: 30px;
  margin: 40px;
  float: right;
  li {
    display: block;
    float: left;
    width: 120px;
    text-align: center;
    line-height: 10px;
    font-size: 1.5em;
  }
}

#logo {
  background-image: url(/assets/logo_big.jpg);
  width: 235px;
  height: 160px;
  float: left;
  margin: 5px;
}

#content-box {
  clear: both;
  margin-top: 200px;
}
