// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#client-info-box, #points-new-box {
  min-width: 250px;
  float: left;
}
#client-info-box {
  margin-left: 20px;
  display: none;
}

.promotion-details {
  display: none;
}

.company-points-box {
  display: block;
  width: 80%;
  height: auto;
  float: right;
  border: 1px solid #ccc;
  clear: right;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.company-points-image {
  float: left;
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
}

hr {
  clear: both;
  margin: 10px 0;
}

@media (max-width: 940px) {
  .company-points-box {
    width: 80%;
    margin: 0 auto;
    clear: both;
  }
}
