// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#client-info-box, #points-new-box {
  min-width: 250px;
  float: left;
}
#client-info-box {
  margin-left: 20px;
  display: none;
}

.promotion-details {
  display: none;
}
