pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #F2DEDE;
  color: #B94A48;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #F2DEDE;
    color: #B94A48;
    text-shadow: none;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.field {
  margin-top: 20px;
}

textarea {
  min-width: 320px;
  height: 120px;
}
